.InputArea {
  margin-bottom: 15px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.passwordInfo {
  font-size: 12px;
  color: red;
}

.gender {
  width: 200px;
}



